body {
    font-family: sans-serif;
}

h1 {
    color: orangered;
    font-size: 45px;
}

/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}

/* Reset Button */
#but {
    box-sizing: border-box;
    position: relative;
    width: 200px;
    height: 10px;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    right: 15px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

/* Player turn space */
#print {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    color: dodgerblue;
    font-size: 20px;
}

/* Main Container */
#main {
    text-align: center;
}

/* Game Instruction Text */
#ins {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    color: dodgerblue;
    font-size: 17px;
}

.but01 {
    display: relative;
    width: 200px;
    padding: 10px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
